* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* REM   = Root EM 
  1 REM = 16px

  sendo 40px = 40/16 = 2,5 REM
*/
:root {
  font-size: 62.5%; /* 10px*/
  --color-backgroud: #ece9fd;
  --color-work: #7158ef;
  --color-work2: #927df8;
  --color-h1: #090039;
  --color-palfa: rgba(10, 0, 57, 0.64);
  --color-a: #090039;
}

body {
  font-family: "Epilogue", sans-serif;

  background: var(--color-backgroud);

  padding: 6rem 2.3rem 6.6rem;
  font-size: 1.6rem;
}

main {
  max-width: 33rem; /*max-width = largura maxima*/

  margin: 0 auto; /* top e butto 0 e laterais automatico*/
}

h1 {
  font-weight: 800;
  font-size: 4rem;
  line-height: 4.8rem;

  color: var(--color-h1);

  margin-bottom: 1.5rem;
}

main p:first-child {
  color: var(--color-work);
  font-weight: bold;

  letter-spacing: 3px; /* letter spacing é o espaçaento entra as letras*/
  text-transform: uppercase; /* transformação de texto para,maiúscula*/
  line-height: 3.2rem;

  margin-bottom: 1.7rem;
}

main p:first-child:hover {
  color: var(--color-work2);
}

h1 + p {
  color: var(--color-palfa);
  line-height: 3.2rem;

  margin-bottom: 3.2rem;
}

a {
  color: var(--color-a);
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: var(--color-work);
  font-weight: bold;
}

ul {
  list-style: none;
  margin-top: 7.2rem;
}

ul li {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;

  color: var(--color-a);

  max-width: 25.7rem;

  display: flex;
  align-items: flex-start; /*o FLEX-START vai pegar o elemento e alinha ele partindo da parte de cima do item*/
  gap: 3.8rem;
}

 main #left li + li{
    margin-top: 3.2rem;
  }

ul li span {
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 8rem;

  letter-spacing: -2px; /* letter spacing é o espaçaento entra as letras*/

  color: var(--color-a);
}

/*media queries */
/*media (min-width: 500px onde 500px pra cima pega o body 
@media (min-width: 40em){   "40em = a 640px em é uma unidade de medida flexivel"
  body{
    background: red;
  }
}
*/
/*media queries  aqui entra a brincadeira da responsividade*/
@media (min-width: 700px) {
  body {
    padding: 8rem;
  }
  main {
    max-width: 1020px;
    display: flex;
    gap: 10rem;
  }
  main #rigth {
    max-width: 484px;
  }

  main #left li {
    gap: 5.3rem;
    max-width: 420px;

    align-items: center;
  }
}
